/* Home.css */
.home-container {
  text-align: center;
  margin: 0 50px;
}

.recipe-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  list-style: none;
  padding: 0;
  cursor: pointer;
}

.recipe-card {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  flex: 0 0 calc(20% - 10px); /* Adjust the width as needed */
  margin-bottom: 20px;
  margin-top: 30px;
  height: 450px;
}

.recipe-card:nth-child(3n) {
  margin-right: 0; /* Remove right margin for every third card in a row */
}

.recipe-details {
  display: flex;
  flex-direction: column;
}

.name-and-save {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recipe-title {
  font-size: 1.25rem;
  margin: 0;
}

.recipe-save-button {
  background-color: #3498db;
  color: #fff;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
}

.recipe-save-button.recipe-saved {
  background-color: #20976a;
}

.instructions {
  margin-top: 10px;
  margin-bottom: 5px; /* Reduce the bottom margin */
}

.recipe-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 170px; /* Set a maximum height for the image */
  object-fit: cover; /* Cover the entire container, maintaining aspect ratio */
  margin-top: 10px;
  border-radius: 7px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.buttons button {
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.buttons button.delete-button {
  width: 40%; /* Adjusted width for delete button */
  background-color: #e74c3c; /* Red color for delete button */
  color: #fff;
}

.buttons button.edit-button {
  width: 40%; /* Adjusted width for edit button */
  background-color: #20976a; /* Blue color for edit button */
  color: #fff;
}

.buttons button.recipe-details-button {
  width: 100%; /* Stretch button from left to right */
  background-color: #20976a; /* Blue color for recipe details button */
  color: #fff;
  margin-top: 10px; /* Added margin for separation */
}
h1{
  margin-top: 100px;
}
